span{
  height: 50px;
  width: 75px;
  background: #00ff00;
  float: right;
}
div{
  height: 100px;
  width: 45%;
  background: #00ffff;
  float: left;
}
p{
  background: #ff00ff;
  width: 200px;
  height: 100px;
  clear: both;
}
